body#paginainicial, body.login, body.cadastro, body.esqueci-minha-senha2, body.esqueci-minha-senha{
    background-image: linear-gradient(150deg, #DC709F, #EEC2D6);
    background-attachment: fixed;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.pag-inicial {
    background-color: rgb(255, 204, 229);
    height: 350px;
    padding: 80px;
}

div.pag-inicial {
    border-radius: 20px;
}

.pag-inicial img {
    width: 150px;
    margin-left: 10px;
    border-radius: 500px;
}

.botoes a {
    text-decoration: none;
    background-color: rgb(255, 239, 245);
    font-size: 20px;
    color: rgb(165, 89, 123);
    padding: 10px;
    border-radius: 5px;
    align-items: center;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 180px;
}

h1 {
    color: rgb(163, 79, 117);
    margin-left: 30px;
}

h2 {
    color: rgb(163, 79, 117);
}

p {
    color: rgb(163, 79, 117);
}

a {
    color: rgb(80, 26, 50);
}

body.login{
    align-items: center;
    height: 100vh;
}

.caixa-de-login {
    background-color: rgb(255, 204, 229);
    padding: 30px;
    border-radius: 20px;
}

.caixa-de-login input {
    width: 200px;
    height: 30px;
    font-size: 1.1rem;

    border-radius: 10px;
    border: solid;
    border-width: 1px;

    padding-left: 10px;
    padding-right: 10px;
}

.botoes-login a {
    text-decoration: none;
    background-color: rgb(204, 112, 153);
    font-size: 20px;
    color: rgb(71, 37, 49);
    padding: 10px;
    border-radius: 5px;
    align-items: center;
}

input {
    color: rgb(80, 26, 50);
}

body.cadastro{
    align-items: center;
    height: 100vh;
}

.caixa-de-cadastro {
    background-color: rgb(255, 204, 229);
    padding: 30px;
    border-radius: 20px;
}

.caixa-de-cadastro input {
    width: 200px;
    height: 30px;
    font-size: 1.1rem;

    border-radius: 10px;
    border: solid;
    border-width: 1px;

    padding-left: 10px;
    padding-right: 10px;
}


.botoes-cadastro a {
    text-decoration: none;
    background-color: rgb(204, 112, 153);
    font-size: 20px;
    color: rgb(71, 37, 49);
    padding: 10px;
    border-radius: 5px;
    align-items: center;
}

body.esqueci-minha-senha{
    align-items: center;
    height: 100vh;
}

body.esqueci-minha-senha2{
    align-items: center;
    height: 100vh;
}

.caixa-esqueci-minha-senha {
    background-color: rgb(255, 204, 229);
    padding: 30px;
    border-radius: 20px;
    height: 300px;
}

.caixa-esqueci-minha-senha input {
    width: 300PX;
    height: 30px;
    font-size: 1.1rem;

    border-radius: 10px;
    border: solid;
    border-width: 1px;

    padding-left: 10px;
    padding-right: 10px;
}

.botoes-esqueci a {
    text-decoration: none;
    background-color: rgb(204, 112, 153);
    font-size: 20px;
    color: rgb(71, 37, 49);
    padding: 10px;
    border-radius: 5px;
    align-items: center;
}

body.inicio{
    background-image: linear-gradient(150deg, #DC709F, #EEC2D6);
    background-attachment: fixed;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.itens img {
    border-radius: 5%;
    transition-duration: 0.3s;
    border: 2px solid rgb(221, 149, 181);
}

.itens img:hover {
    border-radius: 5%;
    width: 200px;
    height: 270px;
    transform: scale(1.1);
}

.inicio input {
    width: 600px;
    height: 30px;
    font-size: 1.1rem;

    border-radius: 10px;
    border: solid;
    border-width: 1px;

    padding-left: 10px;
    padding-right: 10px;
}

.barra-pesquisa {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

div.icones {
    display: flex;
    justify-content: space-between;
    width: 10%;
    align-items: center;
}

div.itens {
    display: flex;
    justify-content: space-around;
    width: 99%;
    align-items: center;
    flex-wrap: wrap;
}

.inicio a {
    text-decoration: none;
}
