<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHEIN</title>
    <link rel="stylesheet" href="estilo.css">
    <link rel="shortcut icon" href="shein pink app icon.jpg">
</head>

<body class="inicio">
    <div class="barra-pesquisa">
        <a href="galeria.html">
            <h1>SHEIN</h1>
        </a>
        <div class="caixa-de-pesquisa">
            <input type="text" name="Pesquisa" placeholder="Pesquisa">
        </div>
        <div class="icones">
            <a href="perfil.html"><img src="contact-fotor-20241009145342.png" width="30px" ;>
                <a href="carrinho.html"><img src="shopping-cart-fotor-20241009145239.png" width="30px" ;>
                    <a href="gostei.html"><img src="heart-fotor-2024100914502.png" width="28px" ;>
        </div>
    </div>
    <br>


</body>

</html>