<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueci minha senha</title>
    <link rel="stylesheet" href="static/estilo.css">
    <link rel="shortcut icon" href="shein pink app icon.jpg">
</head>
<body class="esqueci-minha-senha">

<div class="caixa-esqueci-minha-senha">
<h2>ESQUECI MINHA SENHA</h2>
<p>Nova Senha</p>
<input type="password" name="senha" placeholder="Nova senha">
<br>
<p>Confirme sua senha</p>
<input type="password" name="senha" placeholder="Confirme sua senha">
<br>
<br>
<br>
<div class="botoes-esqueci">
    <a href="/login">Continuar</a>
</div>
</div>
</body>
</html>