<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueci minha senha</title>
    <link rel="stylesheet" href="static/estilo.css">
    <link rel="shortcut icon" href="shein pink app icon.jpg">
</head>
<body class="esqueci-minha-senha">

<div class="caixa-esqueci-minha-senha">
<h2>ESQUECI MINHA SENHA</h2>
<p>E-mail ou celular para recuperação de senha</p>
<input type="text" name="email-celular" placeholder="E-mail ou celular">
<p>Código de verificação</p>
<input type="text" name="código" placeholder="Códiog de verificação">
<br>
<br>
<br>
<div class="botoes-esqueci">
    <a href="/esqueci-minha-senha2">Continuar</a>
</div>
</div>
<br>
<br>
</body>
</html>