<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="static/estilo.css">
    <link rel="shortcut icon" href="shein pink app icon.jpg">
</head>

<body class="inicio">
    <div class="barra-pesquisa">
        <a href="galeria.html">
            <h1>SHEIN</h1>
        </a>
        <div class="caixa-de-pesquisa">
            <input type="text" name="Pesquisa" placeholder="Pesquisa">
        </div>
        <div class="icones">
            <a href="/perfil"><img src="static/contact-fotor-20241009145342.png" width="30px" ;></a>
                <a href="/carrinho"><img src="/static/shopping-cart-fotor-20241009145239.png" width="30px" ;></a>
                    <a href="/gostei"><img src="static/heart-fotor-2024100914502.png" width="28px" ;></a>
        </div>
    </div>
    <br>
    <div class="itens">
        <a href="/roupa1"><img src="static/SHEIN EZwear Summer Frill Trim Knot Front Puff Sleeve Crop PinkTop.jpg"
                width="200px" ;></a>
        <a href="/roupa2"><img src="static/baixados.jpg" width="200px" ;></a>
        <a href="/roupa3"><img src="static/Women'S Heart Pattern Washed Jeans.jpg" width="200px" ;></a>
        <a href="/roupa4"><img src="static/Fashionable Solid Color Hardware Buckle Shoulder Bag, Versatile And Simple Shoulder Bag.jpg"
                width="200px" ;></a>
        <a href="/roupa5"><img src="static/Women's & Men's Clothing, Shop Online Fashion.jpg" width="200px" ;></a>
        <a href="/roupa6"><img src="static/Women's Mid-Calf Boots, British Style, Chunky Heel, Mid-Heel, Non-Fatiguing.jpg"
                width="200px" ;></a>
        <a href="/roupa7"><img src="static/Women'S Heart Pattern Washed Jeans.jpg" width="200px" ;></a>
        <a href="/roupa8"><img src="static/Vestido.jpg" width="200px" ;></a>
        <a href="/roupa9"><img src="static/Bolsa de ombro minimalista feminina de cor sólida e moda, em forma quadrada.jpg"
                width="200px" ;></a>
        <a href="/roupa10"><img src="static/Calça Jeans Feminina Desfiada Com Perna Larga.jpg" width="200px" ;></a>
        <a href="/roupa11"><img src="static/Floral Dits Amarrar Tops & Bainha com babado Conjunto de saia.jpg"
                width="200px" ;></a>
        <a href="/roupa12"><img src="static/Square Neck Shirred Bodice Flounce Sleeve Ruffle Hem Dress.jpg" width="200px"
                ;></a>
        <a href="/roupa13"><img src="static/These Fashion Mistakes Can Add 10 Pounds to Your Look.jpg" width="200px" ;></a>
        <a href="/roupa14"><img src="static/SHEIN UK.jpg" width="200px" ;></a>
        <a href="/roupa15"><img src="static/baixados (1).jpg" width="200px" ;></a>
        <a href="/roupa16"><img src="static/baixadossdsod.jpg" width="200px" ;></a>
        <a href="/roupa17"><img src="static/Gingham Print Tank Pyjama Set.jpg" width="200px" ;></a>
        <a href="/roupa18"><img src="static/Tênis esportivo feminino colorido, sapatos de skate plataforma com solado macio e cadarço, sapatos esportivos versáteis de baixo top.jpg"
                width="200px" ;></a>
        <a href="/roupa19"><img src="static/4pcs Set Young Girl Solid Knit Cropped Fitted Casual Tank Top.jpg"
                width="200px" ;></a>
        <a href="/roupa20"><img src="static/Pure Charm Waistband Floral Print Maxi Dress - Lotus root color, XXL.jpg"
                width="200px" ;></a>
        <a href="/roupa21"><img src="static//roupaasa.jpg" width="200px" ;></a>
    </div>
</body>

</html>