<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHEIN</title>
    <link rel="icon" href="shein pink app icon.jpg">
    <link rel="stylesheet" href="static/estilo.css">
</head>

<body id="paginainicial">
    <div class="pag-inicial">
    <img src="static/shein pink app icon.jpg" width="100px">
    <h1>SHEIN</h1>

    <div class="botoes">
        <a href="/login">Fazer Login</a>
        <a href="/cadastro">Cadastrar-se</a> 
    </div>
    </div>
</body>

</html>