<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/estilo.css">
    <link rel="shortcut icon" href="static/shein pink app icon.jpg">
</head>
<body class="login">

<div class="caixa-de-login">
    <form action="/verificar-login" method="post">

{% with messages = get_flashed_messages () %}
{% if messages %}
<div class ="resposta">
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
{% block body %}{% endblock %}

<h2>LOGIN</h2>
<p>Usuário</p>
<input type="text" id='username' name='username' placeholder="Digite seu usuário">
<p>Senha</p>
<input type="password" id='password' name='password' placeholder="Digite sua senha">
<br>
<div class="botao">
    <a href="/esqueci-minha-senha">esqueci minha senha</a>
</div>
<br>
<br>
<div class="botoes-login">
    <button type="submit">Entrar</button>
</div>
</form>
</div>
</body>
</html>